*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

body h1 {
  font-size: 1.5em;
  text-align: center;
  font-variant: small-caps;
  font-family: "Verdana", sans-serif;
  margin: 10% 0% 5%;
}

body h2{
  font-size: 1.8em;
  position: absolute;
  top: 10%;
  left: 5%;
}

div {
  float: left;
  width: 100%;
}

@media screen and (min-width: 575px) {
  div {
    float: left;
    width: 47%;
  }
}

@media screen and (min-width: 991px) {
  div {
    float: left;
    width: 21%;
  }
}

.container {
  margin: 20px auto;
  width: 80%;
}


.preview baku {
  position: relative;
  text-align: left;
  margin: 3% 1%;
  color: black;
  background-image: url("../images/baku.jpg");
  background-color: #dadada;
  background-size: cover;
  height: 170px;
}

.preview london {
  position: relative;
  text-align: left;
  margin: 3% 1%;
  color: black;
  background-image: url("../images/london.png");
  background-color: #dadada;
  background-size: cover;
  height: 170px;
}

.preview madrid {
  position: relative;
  text-align: left;
  margin: 3% 1%;
  color: black;
  background-image: url("../images/madrid.jpg");
  background-color: #dadada;
  background-size: cover;
  height: 170px;
}

.preview rome {
  position: relative;
  text-align: left;
  margin: 3% 1%;
  color: black;
  background-image: url("../images/rome.jpg");
  background-color: #dadada;
  background-size: cover;
  height: 170px;
}
